/* make the customizations */
/* $body-bg: #ffffff; */

$dark: #201713;
$light: #c5aca0;

// .navbar-toggler:not(.collapsed) .navbar-toggler-icon {
//   --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z' clip-rule='evenodd'/></svg>");
// }

$color-mode-type: data;
$enable-dark-mode: true;

$font-family-base: 'Roboto', sans-serif;

/* import bootstrap to set changes */
@import '~bootstrap/scss/bootstrap';
